.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem 0;
}

.header nav{
    display: flex;
    gap: 3rem;
    align-items: center;
    justify-content: center;
}

.header nav a:first-child{
    padding-right: 3rem;
    border-right: 1px solid rgba(255, 255, 255, .1);
}

.header a{
    font-size: 1.4rem;
}

.header img{
    width: 130px;
}

.header > div{
    display: flex;
    gap: 1rem;
    align-items: center;
}

.header .btn {
    background-color: #4169e1;
    padding: 1rem 2rem;
    text-align: center;
    border-radius: .5rem;
    font-weight: 600;
}

.header .btnNone {
    background-color: rgba(255, 255, 255, .1);
    padding: 1rem 2rem;
    text-align: center;
    border-radius: .5rem;
    font-weight: 600;
}

.logo{
    display: none;
}

.openMenu{
    display: none;
}

.iconBtn{
    display: none;
}
@media screen and (max-width: 800px){
    
    .header{
        position: fixed;
        z-index: 999;
        width: 100%;
        top: 0;
        left: 0;
        background-color: #0e0e10;
        padding: 1rem 2rem;
    }
.header nav{
    position: fixed;
    top: 60px;
    left: 0;
    flex-direction: column;
    background-color: #0e0e10;
    align-items: flex-start;
    justify-content: flex-start;
    height: 100%;
    width: 100%;
    z-index: 9999;
    padding: 2rem;
    font-size: 4.5rem;
    transition: .5s;
}

.header .navActvie{
    left: -1000px;
    transition: .5s;

}

.header nav a{
    font-size: 3rem;
}

.header nav a:first-child{
    display: none;
}

.openMenu{
display: block;
background-color: transparent;
color: #f2f2f2;
border: none;
font-size: 4rem;
}

.iconBtn{
    display: block;
}

.iconBtn i{
    font-size: 3.5rem;
}

.btn, .btnNone{
    display: none;
}

.logo{
    display: block;
}
}