.container{
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
}

.cardContainer{
  display: flex;
  align-items: flex-start;
  gap: 2rem;
  margin-top: 4rem;
}

.cardContainer > div{
  border: 1px solid rgba(255, 255, 255, .1);
  max-width: 300px;
  width: 300px;
  height: 180px;
  padding: 2rem;
  text-align: center;
  border-radius: .5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.cardContainer > div img{
  width: 5rem;
  margin-bottom: 1rem;
}
.section{
  text-align: center;
  padding: 2rem;
}

.section h2{
  font-size: 3.8rem;
  padding-bottom: 1rem;
}

.section > p{
  font-size: 1.6rem;
  color: rgba(255, 255, 255, .5);
}

.section .detailsContainer{
  margin-top: 3rem;
  display: flex;
  gap: 2rem;
  flex-direction: column;
  align-items: center;
  justify-content: center;

}
.section details{
  max-width: 800px;
  width: 800px;
  background-color: rgba(255, 255, 255, .15);
  padding: 2rem;
  border-radius: .5rem;
  text-align: left;
}

.platformList{
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  text-align: left;
  gap: 6rem;
  margin-top: 8rem;
}

.platformList li{
  list-style: none;
  font-size: 1.8rem;
  font-weight: 500;
  color: rgba(255, 255, 255, .5);
  display: flex;
  gap: 4rem;

}

.content{
  display: flex;
  /* align-items: center; */
  /* justify-content: space-between; */
}

.content ul{
  width: 50%;
}

.content img{
  width: 900px;

}

.banner{
  /* height: 90vh; */
  width: 100%;
  position: relative;
}

.banner img{
  width: 100%;
  opacity: .6;
}

.bannerContent{
  position: absolute;
  top: 3rem;
  left: 3rem;
  display: flex;
  gap: 2rem;
}

.bannerContent span{
  background-color: rgba(0, 0, 0, .5);
  padding: 1rem;
  border-radius: .5rem;
  font-weight: 600;
}

.bannerDisplay{
  position: absolute;
  top: 9rem;
  left: 3rem;
  padding: 0 1rem;
}

.bannerDisplay a{
  background-color: #4169e1;
  padding: 1rem;
  border-radius: .5rem;
  margin-top: 3rem;
  display: block;
  width: 90px;
}

.cardContainerNews{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}

.section .card{
  display: flex;
  align-items: center;
  border: 1px solid rgba(255, 255, 255, .15);
  border-radius: 1rem;
  height: 350px;
  max-height: 350px;
  flex-direction: column;
}

.section .card img{
  width: 100%;
  border-radius: 1rem 1rem 0 0;
  max-height: 150px;
  overflow: hidden;
}

.section .card > div{
  padding: 3rem;
  text-align: left;
  position: relative;
}

.section .card > div span{
  color: #4169e1;
}

.section .card > div a{
  color: #4169e1;
  position: absolute;
  right: 20px;
  bottom: 2px;
  font-size: 2rem;
}

.cardContainerNews .card{
  min-width: 300px;
  width: 300px;
  max-width: 300px;
}