
.section{
    text-align: center;
    padding-top: 50px;
}

.section h2{
    margin-bottom:1.6rem;
    font-weight: 500;
}

.section p{
    font-weight: 300;
}

.form{
    margin: 0 auto;
    max-width: 400px;
    margin-top: 40px;
}

.formgroup{
    background-color: rgba(255, 255, 255, .05);
    margin: 1rem 0;
    border-radius: 0.5rem;
    height: 50px;
    padding: 0 1rem;
    position: relative;
}

.formgroup input{
    width: 100%;
    height: 100%;
    background-color: transparent;
    border: none;
    color: #f2f6fa;
    outline: none;
    margin-top: .8rem;
}

.formgroup label{
    font-size: .8rem;
    position: absolute;
    top: .5rem;
    left: 1rem;
    color: rgba(255, 255, 255, .5);
}

.formgroupbtn{
    background-color: #4169e1;
    margin: 1rem 0;
    border-radius: 0.5rem;
    height: 50px;
    padding: 0 1rem;
    position: relative;
}

.formgroupbtn input{
    width: 100%;
    height: 100%;
    background-color: transparent;
    border: none;
    color: #f2f6fa;
    outline: none;
    font-size: 1.6rem;
    font-weight: 500;
}

.loginregister{
    font-size: 1.4rem;
    margin-top: 5rem;
}

.loginregister a{
    color: #4169e1;
}